<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<div class="signup-form container rounded bg-white mt-5 mb-5">
    <form
            th:action="@{/users/login}"
            th:method="post">

        <h2>Please sign in</h2>

        <div class="container form-group">

            <input type="text" name="username" class="form-control" placeholder="username">

            <input type="password" name="password" class="form-control" placeholder="Password">

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
    </form>
</div>

</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>