<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

User Login page. Both for ITs and Companies.
<form class="container"
        th:action="@{/users/login}"
        th:method="post">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="username">

    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">

    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

</form>

</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>