<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::navigation"></header>


<div class="container-fluid">
    <h1 class="text-center mt-5">
        We are currently busy doing maintenance!
        Please come back after midnight!
    </h1>
</div>


</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>