<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::navigation"></header>


<div class="profile-card p-3 py-4" th:object="${offerViewModel}">
    <form th:action="@{/offers/details/{id}(id=*{id})}"
          th:method="get">
        <div class="text-center mt-3">
            <div class="container rounded bg-white mt-5 mb-5">
                <div class="row">
                    <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                            <img class="rounded-circle mt-5" width="150px"
                                 src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                            <span th:text="${offerViewModel.user.firstName} +' '+ ${offerViewModel.user.lastName}"
                                  class="font-weight-bold"></span>
                            <span th:text="*{user.email}" class="text-black-50"></span>
                            <span class="font-weight-bold">Company</span>
                            <span> </span>
                        </div>
                    </div>
                    <div class="col-md-5 border-right">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-right">Offer Details</h4>
                            </div>
                            <div class="row mt-2">
                                <label class="labels">Title</label>
                                <span class="form-control" th:text="*{title}"></span>
                            </div>
                            <div class="row mt-2">
                                <label class="labels">Position</label>
                                <span class="form-control" th:text="*{position}"></span>
                            </div>
                            <div class="row mt-2">
                                <label class="labels">Location</label>
                                <span class="form-control" th:text="*{location}"></span>
                            </div>
                            <div class="row mt-3">
                                <label class="labels">Description</label>
                                <pre class="form-control"
                                     th:text="*{description}">
                                </pre>
                            </div>
                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Post Offer</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-3 py-5">
                            <div class="d-flex justify-content-between align-items-center experience">
                                <span>Required Experience</span>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label class="labels">Level</label>
                                <span class="form-control" th:text="*{level}"> </span>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <label class="labels">Required Tech Stack</label>
                                <br>
                                <th:block th:each="ts : ${offerViewModel.techStack}">
                                    <li th:text="${ts}"></li>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>