<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div th:each="offer: ${offers}" class="col-lg-4 col-md-6 col-sm-6"
             th:object="${offer}">
            <div class="category mb-30">
                <div class="job">
                    <span th:text="*{position}" class="colors2 mb-4">Position</span>
                    <h5><a th:href="@{/offers/details/{id}(id=*{id})}" th:text="*{title}">Title</a></h5>
                    <span th:text="*{location}">Location</span>
                    <div class="pricing d-flex justify-content-between align-items-center">
                        <div class="left">
                            <p>Company</p>
                        </div>
                        <span th:text="${#temporals.format(offer.addedOn, 'dd-MM-yyyy')}" class="time">Added On</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="btn btn-primary mb-30">
                <span>Find More</span>
            </div>
        </div>
    </div>
</div>

</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>