<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

Register as IT or Company.


<div class="signup-form">
    <form th:action="@{/users/register}"
          th:method="post"
          th:object="${userModel}">
        <h2>Register</h2>
        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
        <div class="container form-group">

            <input th:field="*{username}" type="text" class="form-control" name="username" placeholder="Username"
                   required="required">

            <input th:field="*{firstName}" type="text" class="form-control" name="first_name" placeholder="First Name"
                   required="required">

            <input th:field="*{lastName}" type="text" class="form-control" name="last_name" placeholder="Last Name"
                   required="required">


            <input th:field="*{email}" type="email" class="form-control" name="email" placeholder="Email"
                   required="required">

            <input th:field="*{password}" type="password" class="form-control" name="password" placeholder="Password"
                   required="required"
                   aria-autocomplete="list">

            <input th:field="*{confirmPassword}" type="password" class="form-control" name="confirm_password"
                   placeholder="Confirm Password"
                   required="required">
            <div class="form-control">
                <input type="radio" id="USER" value="USER" th:name="role">
                <label for="USER">I'm looking for job.</label>
                <input type="radio" id="EMPLOYER" value="EMPLOYER" th:name="role">
                <label for="EMPLOYER">I'm offering a job.</label>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Register Now</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a href="/users/login">Sign in</a></div>
</div>

</body>
<footer th:replace="fragments/commons::footer"></footer>
</html>